.app__header {
    // background-color: var(---color-lightbrown);
}

.app__header-h1 {
    font-family: var(---font-base);
    color: var(---color-white);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 117px;
    font-size: 90px;
    font-weight: 800;
}

.app__wrapper-img img {
    width: 100%;
    border-left: 5px solid var(---color-black);
    border-bottom: 5px solid red;
    border-top-right-radius: 100px;
    
}

@media screen and (max-width: 650px) {
    .app__header-h1 {
        line-height: 80px;
        font-size: 60px;
    }
}