<div class="app__header app__wrapper section__padding">
    <div class="app__wrapper-info">
        <h1 class="app__header-h1"><i> Plan <b style="color: red;">out</b> Your <b style="color: #DCCA87;">Schedule</b></i></h1>
        <p class="p__opensans app__subtext" style="margin: 2rem 0; color: white;">
            TaskPlanner can help centralize all your appointments, tasks, and reminders in one place, making it easier to visualize your schedule and avoid conflicts.
        </p>
        <button type="button" class="custom__button">Explore More</button>
    </div>

    <div class="app__wrapper-img">
        <img [src]="images.planHead" alt="plan image" />
    </div>
</div>